graft src
graft tests
prune scripts
prune notebooks
prune tests/.pytest_cache

prune docs/build
prune docs/source/api

recursive-include docs/source *.py
recursive-include docs/source *.rst
recursive-include docs/source *.png

include *.png
recursive-include examples *.md
recursive-include examples *.pdb
recursive-include examples *.py
recursive-include examples *.sdf
recursive-include examples *.svg
recursive-include examples *.tsv

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

include README.md LICENSE
exclude tox.ini .bumpversion.cfg .readthedocs.yml .cruft.json CITATION.cff docker-compose.yml Dockerfile
exclude tests/fixtures/*.svg
