html, body { margin: 0; overflow: hidden; }

.app { overflow: hidden; height: 100vh; width: 100vw; }

.sidebar {
    height: 100%;
    float: left;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    &.expanded { width: 200px; }
    &.collapsed { width: 50px; }
    .collapse-button { cursor: pointer; text-align: center; }
}

.sidebar-button {
    border-radius: 0;
    justify-content: left;
    &.expanded {
        width: 200px;
        &:hover { background-color: lightgrey; color: black; }
    }
    &.collapsed {
        width: 50px;
        &:hover { @extend .sidebar-button, .expanded, :hover; }
    }
}

.viewer { float: left; }

.file-input { cursor: pointer; }

.fas { color: black; }