@import "~bulma";
@import "~bulma-switch";
@import "~bulma-slider";


html, body {
    margin: 0;
    overflow: hidden;
}

.cinemol{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    height: 100%;
    width: 50px;
    float: left;
    background-color: darkgrey;
}

.viewer-window {
    float: left;
}

.sidebar-button {
    border-style: solid;
    border-color: black;
    border-radius: 0;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 42px;
}

.sidebar-button:hover {
    cursor: default;
    border-style: solid;
    border-color: black;
    background-color: #306eb5;
}

.viewer-svg {}

.fas {
    color: black;
}