@import "~bulma";
@import "~bulma-switch";
@import "~bulma-slider";


html, body {
    margin: 0;
    overflow: auto;
}

.cinemol{
    background-color: green;
    overflow: hidden;
}

.viewer {
    background-color: red;
    width: 500px;
    height: 500px;
}

.svg {
    background-color: white;
}