@import "~bulma";
@import "~bulma-switch";
@import "~bulma-slider";


html, body {
    margin: 0;
    overflow: hidden;
}

.cinemol {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.viewer {
    width: 50vw;
    max-height: 50vh;
    overflow: visible;
}

.svg {
    overflow: visible;
}